@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(../font/Poppins-Black.ttf);
@import url(../font/Poppins);
@import url(../font/Poppins-BlackItalic.ttf);
@import url(../font/);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", "sans-serif";
  background-color: black;
  color: white;
}
body {
  font-size: 18px;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container__logo {
  background-color: var(--color-naranja);
  color: var(--color-blanco);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}
.container__item {
  background-color: black;
  color: white;
  text-transform: capitalize;
  padding: 10px 20px;
  justify-content: flex-end;
  border-radius: 5px;
  font-size: 18px;
}
.container__item:hover {
  outline: 1px solid green;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.home__title {
  color: #ff702a;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}



