@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(../font/Poppins-Black.ttf);
@import url(../font/Poppins);
@import url(../font/Poppins-BlackItalic.ttf);
@import url(../font/);

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.container {
  max-width: 100%;
  height: 10vh;
  display: flex;
  padding: 1%;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;

}
.container__logo {  
  color: var(--color-naranja);

  border-radius: 5px;
  font-size: 30px;
  text-decoration: none;
}
.container__item {

  color: white;
  display: flex;
  gap: 1em;
  align-items: right;
  border-radius: 5px;
  font-size: 30px;
  text-decoration: none;
  
}
.container__item:hover {
  outline: 1px solid green;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  display: flexbox;
}
.home__title {
  color: #ff702a;
  font-size: 3.2em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align: center;
}
.home__txt {
  color: white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-align:left;
}
.home__btn {
  background-color: #ff702a;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
  text-align: left;


}
.container__img{
    width: 10vh;
    height: 10vh;
    display: flex;

}
.home__img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.home{
    width: 100%;
    height: 90vh;

}
.home div{
    display: flex;
    width: 80vw;
    height: 80vh;
    margin: auto;
}
.home__article{
    display: flex;
    flex-direction: column;
}
.about{
    width: 100%;
    height: 90vh;
}
