@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(../font/Poppins-Black.ttf);
@import url(../font/Poppins);
@import url(../font/Poppins-BlackItalic.ttf);
@import url(../font/);

:root {
  --color-blanco: white;
  --color-negro: black;
  --color-naranja: #ff702a;
  --color-fondo: #1e1d2b;
  --color-crema: #ffefe8;
  --menu-desplegable: #2c2b47;
  --desktop: 1300px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--color-fondo);
}
.container {
  max-width: var(--desktop);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
}
.container__foods {
  text-align: center;
  color: var(--color-naranja);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: xx-large;
  letter-spacing: 3px;
}
.container__nav {
  display: flex;
  display: flex;
  gap: 1em;
}
.container__nav a {
  color: var(--color-blanco);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: large;
  padding: 2%;
}
.container__nav a:hover {
  outline: 2px solid green;
}
.main {
  max-width: var(--desktop);
  margin: 0 auto;
}
.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blanco);
  margin: 3% auto;
}
.home__title {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  text-transform: capitalize;
}
.home__txt {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin: 5% 0%;
}
.home__btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-blanco);
  background-color: var(--color-naranja);
  padding: 2%;
}
.home__btn:hover {
  outline: 2px solid white;
}
.about {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blanco);
  margin: 3% auto;
  gap: 5em;
}
.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-transform: capitalize;
  color: var(--color-naranja);
}
.about__title2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
}
.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  margin: 3% 0;
}
.about__btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-blanco);
  background-color: var(--color-naranja);
  padding: 2%;
  display: inline-block;
}
.about__btn:hover {
  outline: 2px solid white;
}
.about__article {
  flex: 1;
}
.container__img {
  flex: 1;
}
.menu {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blanco);
  margin: 3% auto;
  gap: 5em;
}
