<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito Vacio</title>
    <link rel="stylesheet" href="../css/vaciarcarrito.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <header>
        <div class="titulo">
            <div>
                <i class='bx bxl-redux bx-spin' style='color:#f3620e'  ></i>
            </div>
            <h1>CampusShop</h1>
            <div class="icono">
                <button onclick="botonMenu()" id="abrir" class="abrir">
                    <i class='bx bx-menu'></i>
                </button> 
            </div>
        </div>
        <nav class="categorias" id="menu">
            <ul>
                <li>
                    <i class='bx bx-closet'></i>
                    <a href="../index.html">Todos los productos</a>
                </li>
                <li>
                    <img src="../storage/img/icons8-fireman-coat-50.png" alt="">
                    <a href="abrigos.html">Abrigos</a>
                </li>
                <li>
                    <img src="../storage/img/icons8-polo-shirt-50.png" alt="">
                    <a href="camisetas.html">Camisetas</a>
                </li>
                <li>
                    <img src="../storage/img/icons8-pant.png" alt="">
                    <a href="pantalones.html">Pantalones</a>
                </li>
            </ul>
        </nav>
        <nav class="carritos home" id="menu">
            <i class='bx bxs-cart'></i>
            <a href="carritos.html">Carritos</a>
            <button>0</button>
        </nav>
        <nav class="copy" id="menu">
            <i class='bx bx-copyright'></i>
            <a href="#">2023 @Camper</a>
        </nav>
    </header>
    <main>
        <div class="h1">
            <h1>Carrito</h1>
        </div>
        <div class="main">
            <h2>Tu carrito esta vacio :(</h2>
        </div>
    </main>
</body>
</html>