@import url(styles.css);
:root{
    --color-blanco:#FFFFFF;
    --color-negro:#000000;
    --color-gris-claro:#E7E6E6;
    --color-gris-intermedio:#C2C8DA;
    --color-amarillo-claro:#F5E79D;
    --color-amarillo-intermedio:#EBD96B;
    --color-amarillo-oscuro:#E6C744;

}
